<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0" version="1.0.0" id="vagfsantos.cenourapp">
	<name>Só de cenoura</name>
	<description>
		Menu do restaurante Só de Cenoura
	</description>
	<author href="http://vagfsantos.esy.es" email="santos.vagnerferreira@gmail.com">
		Vagner Ferreira Santos
	</author>

	<icon src="imagens/icon.png"/>
	<gap:splash src="imagens/splash.png"/>
</widget>